@import url(//db.onlinewebfonts.com/c/254227acc02f2e078096f6085c21a5e6?family=Terminator+Cyr);

.App {
  text-align: center;
}

#mainbox{
  height: 250px;
  display: flex;
  flex-flow: wrap;
  width: 160px;
  /* justify-content: space-between; */
}

.pad-button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
}
#numbers-clear-box{
  width: 120px;
}
.basic-arithmetic.container{
  width: 40px;
  order: 3;
}

.numbers.container{
  /* display: block; */
  width: 120px;
  order: 2;
}

.clear.container {
  width: 80px;
  order: 1;
  height: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#title{
  animation-name: fade-in;
  animation-duration: 30s;
  font-size: 40px;
  display: block;
  font-family: 'Terminator Cyr', arial;
}

@keyframes fade-in {
  0% {
    color: #282c34;
  }
  99% {
    color: white;
  }
  100% {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
   #title{
     font-size: 26px;
   }
 }
